* {
  font-family: monospace;
}

#app {
  display: flex;
}

#control {
  justify-content: center;
  display: flex;
}

#labels {
  font-size: 29.5px;
  /*border-right: black solid 1px;*/
  padding-right: 2%;
  /*margin-top: -1.2%;*/
}

.drum {
  display: flex;
}

.drumLabel {
  margin: 26%
}

#control>button {
  height: max-content;
  padding: 2%;
  font-size: 30px;
  /*margin: 1%*/
  margin-left: 1%;
  margin-top: 2.4%;
}

#sequencer {
  padding: 1%;
  border: black solid 1px;
  border-top: none;
  border-bottom: none;
}

input {
  margin: auto;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.box {
  padding-top: 45px;
  display: inline;
  width: 65px;
  height: 65px;
  background: #eee;
  margin: -1.5px;
}

#snare>.checked {
  background: red;
}

#bass>.checked {
  background: blue;
}

#hihat>.checked {
  background: yellow;
}

.test {
  margin-top: -3px;
  margin-bottom: -3px;
}

.bpm {
  font-family: monospace;
  width: 120px;
  text-align: center;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 40px;
  opacity: 1;
}
